{{ define "main" }}
<div class="home">
  {{ with .Content }}
  <section class="hero post-content">
    {{ . }}
  </section>
  {{ end }}
  <section class="recent-posts">
    <h2>Recent Posts</h2>
    <ul class="post-list">
      {{ range first 10 (where .Site.RegularPages.ByDate.Reverse "Type" "posts") }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
